{
    "tabWidth": 4,
    "printWidth": 120,
    "useTabs": false,
    "bracketSpacing": false,
    "bracketSameLine": true,
    "singleQuote": false,
    "trailingComma": "none",
    "plugins": ["@prettier/plugin-xml", "prettier-plugin-apex"],
    "overrides": [
        {
            "files": "*.js",
            "options": {
                "singleQuote": true
            }
        },
        {
            "files": "*.cls",
            "options": {
                "parser": "apex",
                "singleQuote": true
            }
        },
        {
            "files": ["*.html", "*.{cmp,page,component}"],
            "options": {
                "parser": "html"
            }
        },
        {
            "files": "**/lwc/**/*.html",
            "options": {
                "parser": "lwc"
            }
        },
        {
            "files": "*-meta.xml",
            "options": {
                "parser": "xml",
                "xmlSelfClosingSpace": false
            }
        }
    ]
}
